In [1]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("homeprices.csv")

df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [10]:
df.bedrooms.describe()

count    5.00000
mean     4.20000
std      1.30384
min      3.00000
25%      3.00000
50%      4.00000
75%      5.00000
max      6.00000
Name: bedrooms, dtype: float64

In [11]:
df.bedrooms.mean()

4.2

In [12]:
df.bedrooms.median()

4.0

In [13]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())

df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [14]:
features = df.drop('price', axis='columns')

features.head()

   area  bedrooms  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       4.0   18
3  3600       3.0   30
4  4000       5.0    8

In [15]:
target = df.price

target.head()

0    550000
1    565000
2    610000
3    595000
4    760000
Name: price, dtype: int64

In [16]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression()

In [17]:
reg.fit(features, target)

LinearRegression()

In [20]:
reg.predict([[5000, 6, 18]])

array([863797.56968832])