In [1]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("salaries.csv")

df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

Let's use label encoder to convert str to int variables

In [3]:
from sklearn.preprocessing import LabelEncoder

le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [48]:
df_le = df

df_le

    salary_more_then_100k  le_company  le_job  le_degree
0                       0           2       2          0
1                       0           2       2          1
2                       1           2       0          0
3                       1           2       0          1
4                       0           2       1          0
5                       1           2       1          1
6                       0           0       2          1
7                       0           0       1          0
8                       0           0       0          0
9                       1           0       0          1
10                      1           1       2          0
11                      1           1       2          1
12                      1           1       0          0
13                      1           1       0          1
14                      1           1       1          0
15                      1           1       1          1

In [6]:
df_le['le_company'] = le_company.fit_transform(df_le['company'])
df_le['le_job'] = le_job.fit_transform(df_le['job'])
df_le['le_degree'] = le_degree.fit_transform(df_le['degree'])

In [47]:
df_le

    salary_more_then_100k  le_company  le_job  le_degree
0                       0           2       2          0
1                       0           2       2          1
2                       1           2       0          0
3                       1           2       0          1
4                       0           2       1          0
5                       1           2       1          1
6                       0           0       2          1
7                       0           0       1          0
8                       0           0       0          0
9                       1           0       0          1
10                      1           1       2          0
11                      1           1       2          1
12                      1           1       0          0
13                      1           1       0          1
14                      1           1       1          0
15                      1           1       1          1

In [9]:
df_le.drop(['company','job','degree'], axis='columns', inplace=True)

df_le.head()

   salary_more_then_100k  le_company  le_job  le_degree
0                      0           2       2          0
1                      0           2       2          1
2                      1           2       0          0
3                      1           2       0          1
4                      0           2       1          0

In [13]:
X= df_le.drop("salary_more_then_100k", axis='columns')
X.head()

   le_company  le_job  le_degree
0           2       2          0
1           2       2          1
2           2       0          0
3           2       0          1
4           2       1          0

In [14]:
y = df_le.salary_more_then_100k
y.head()

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

In [39]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [40]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()

In [41]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [42]:
model.predict(X_test)

array([0, 0, 0, 1], dtype=int64)

In [43]:
y_test

0     0
1     0
5     1
14    1
Name: salary_more_then_100k, dtype: int64

In [44]:
model.score(X_test, y_test)

0.75

### Is salary of Google, Computer Engineer, Bachelors degree > 100 k ?

In [49]:
model.predict([[2,1,0]])

array([0], dtype=int64)

### Is salary of facebook, Computer Engineer, Masters degree > 100 k ?

In [51]:
model.predict([[1,1,1]])

array([1], dtype=int64)