In [1]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv("titanic.csv")

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Data Preprocessing

In [6]:
data = df[['Pclass','Sex','Age','Fare','Survived']]

data.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [8]:
data.columns[data.isna().any()]

Index(['Age'], dtype='object')

As we can see 'Age' column has null values. Lets fill them first

In [9]:
data.Age.mean()

29.69911764705882

In [10]:
data.Age.median()

28.0

lets use median to fill null values

In [13]:
data.fillna(data.Age.median(), inplace=True)

# lets check now
data.columns[data.isna().any()]

Index([], dtype='object')

Now, lets convert 'Sex' columns to int using Label encoder

In [15]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [18]:
data['Sex'] = le.fit_transform(data.Sex)

data.head()

   Pclass  Sex   Age     Fare  Survived
0       3    1  22.0   7.2500         0
1       1    0  38.0  71.2833         1
2       3    0  26.0   7.9250         1
3       1    0  35.0  53.1000         1
4       3    1  35.0   8.0500         0

Here,
- 1 -> male
- 0 -> female

### Training the model

In [19]:
X = data.drop("Survived", axis='columns')

X.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    0  38.0  71.2833
2       3    0  26.0   7.9250
3       1    0  35.0  53.1000
4       3    1  35.0   8.0500

In [20]:
y = data['Survived']

y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [62]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [63]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()

In [64]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

### Testing the model

In [65]:
X_test.head()

     Pclass  Sex   Age     Fare
709       3    1  28.0  15.2458
439       2    1  31.0  10.5000
840       3    1  20.0   7.9250
720       2    0   6.0  33.0000
39        3    0  14.0  11.2417

In [66]:
y_test.head()

709    1
439    0
840    0
720    1
39     1
Name: Survived, dtype: int64

In [67]:
# 2->Pclass, 0->Sex, 6->Age, 33->Fare
model.predict([[2,0,6,33]])

array([1], dtype=int64)

### Accuracy of the model

In [68]:
model.score(X_test,y_test)

0.7541899441340782

**75%** is not a bad accuracy but It can be better!